@media only screen and (max-width: 500px) {
    .masthead {
        padding: 3em 0;
    }
    .masthead-heading {
        font-size: 3em;
    }
}

.masthead {
    padding: 6em 0;
  background-image: url('http://i.imgur.com/MsaGaG1.jpg?1');
   background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 1em #838994;
}

.masthead-heading {
  /* Layout Declarations */
    margin-top: -0.2em;
  /* Typography Declarations */
    font-family: 'Nixie One', cursive;
    font-weight: bold;
    font-size: 6em;
        color: whitesmoke;
    text-shadow: 2px 2px 2px #838994, 2px 2px 3px #838994;
    letter-spacing: -0.02em;
    text-align: center;
}

body {
    /* Typography Declarations */
    color: #222222;
    font-size: 1em;
  margin: 0;
    font-family: 'Mallanna', sans-serif;
    font-weight: bolder;
        color: #838994;
}

.intro-screen,
.quiz-area,
.overlay,
.quiz-results
 {
	text-align: center;
	font-size: 2em;
}

.quiz-area h1 {
	font-size: 6em;
	border-bottom: 1px solid #626f77;
	margin-top: -32px;
}

.quiz-area h2 {
	font-family: 'Mallanna', sans-serif;
	font-size: 2em;
	margin-top: -36px;
	text-align: center;	
	color: #626f77;
}

.quiz-area h3 {
	font-family: 'Mallanna', sans-serif;
	font-size: 1em;
	margin-top: 42px;
	text-align: center;	
	color: #838994;
}

#user-choice,
.quiz-area p {
	font-family: 'Mallanna', sans-serif;
	font-size: 1em;
	color: #838994;
	text-align: center;
}

#user-choice {
	margin-top: -18px;
	height: 70px;
}

#start, #option-1, #option-2, #option-3, #option-4, #answer-submit, #start-over, #next {
	cursor: pointer;
	width: 200px;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0px 0px 10px 0px black;
}
.quiz-area #option-1 {
    width: 300px;
    margin-right: 2px;
    margin-bottom: 8px;
}
.quiz-area #option-2 {
    width: 300px;
    margin-left: 2px;
}
.quiz-area #option-3 {
    width: 300px;
    margin-right: 2px;
}
.quiz-area #option-4 {
    width: 300px;
    margin-left: 2px;
}
#start-over:hover,
#next:hover,
#answer-submit:hover,
.quiz-area #option-1:hover,
.quiz-area #option-2:hover,
.quiz-area #option-3:hover,
.quiz-area #option-4:hover,
.intro-screen #start:hover {
	background-color: #bfb1b1;
}
/*#answer-submit {
	margin-top: 30px;
}*/


button {
	outline: none;
}

#current-question {
	text-align: center;
    font-size: 1em;
}

.quiz-results,
.overlay {
	z-index: 1000;
	display: none;
	border-radius: 3px;
	margin-top: -18px;	
}

.quiz-results h1,
.overlay h1 {
	font-size: 2em;
	color: green;
	border-bottom: 1px solid #626f77;
}

.overlay p {
	font-family: 'Mallanna', sans-serif;
	font-size: 1em;
	color: #626f77;
	padding-left: 22px;
	padding-right: 22px;
}

.overlay img {
	float: left;
	margin-right: 10px;
}

#next {
	margin-bottom: 22px;
}

.quiz-results h1 {
	color: green;
	margin-top: 176px;
}

.quiz-results p {
	font-family: 'Mallanna', sans-serif;
	font-size: 1em;
	color: #626f77;
	text-align: center;
	margin-top: 68px;
}

.quiz-results h2 {
	font-family: 'Mallanna', sans-serif;
	letter-spacing: 8px;
	font-size: 1em;
	color: #626f77;
	text-align: center;	
}

#user-rating {
	color: #b69d14;
	font-size: 1em;
	font-weight: bolder;	
}

#rating {
	margin-top: 1px;
}

#total-correct {
	color: green;
	font-weight: bolder;
	margin-top: 12px;
}

#display-correct {
	text-align: center;
	margin-top: -18px;
	color: green;
}

#correct-answer {
	color: #626f77;
}